<!DOCTYPE html>
<html>
<head>
  <title>About Page</title>
  <style>
    .row {
      display: flex;
    }

    .column {
      flex: : 50%;
      padding: 10px;
    }

  </style>
</head>
<body>
  
  <%= link_to 'Home', root_path %>
  
  <div class="row">
    <div class="column">
      <p>The franchise began as a pair of video games for the original Game Boy that were developed by Game Freak and published by Nintendo. It spans a video game series, a trading card game, an anime television series, a film series, books, manga comics, music, toys, and merchandise. Pokémon is the highest-grossing media franchise of all time, with over $70 billion in revenue up until March 2017. It includes the world's top-selling toy brand, the top-selling trading card game with over 25.7 billion cards sold, the second best-selling video game franchise (behind Nintendo's Mario franchise) with more than 300 million copies sold and over 800 million mobile downloads, and the most successful television show based on a video game with 20 seasons and over 1,000 episodes. The franchise is also represented in other Nintendo media, such as the Super Smash Bros. series.</p>
    </div>
    <div class="column">
      <p>The Pokémon anime series and films are a meta-series of adventures usually separate from the canon that most of the Pokémon video games follow (with the exception of Pokémon Yellow, a game based loosely on the anime storyline). The anime follows the quest of the main character, Ash Ketchum (known as Satoshi in Japan), a Pokémon Master in training, as he and a small group of friends travel around the world of Pokémon along with their Pokémon partners.</p>
    </div>
    <clear />
  </div>
</body>
</html>